<!doctype html>
<html>
  <head>
    <title>{% block title %}Flask Basics{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <p>Brought to you by the fine folks at Treehouse!</p>
    {% block scripts %}{% endblock %}
  </body>
</html>
